*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color:#000;
}

html{
    scroll-behavior: smooth;
}

body{
    width: 100vw;
    min-height: 100vh;
}

header{
    width:100%;
    padding: 25px;
}

main{
    width:1024px;
    min-height:100vh;
    margin:0 auto;
    background-color: antiquewhite;
}

section{
    height:100vh;
    background-color: aquamarine;
}


/* footer */

.footer-container{
    width:100%;
    height:100px;
    padding: 25px 0;
}

.footer-container > .content{
    margin: 0 auto;
    width:50%;
    height:100%;
}

/* .footer-container > .content > .element , .element:nth-last-child(1)>a>img{
    
} */

.footer-container > .content > .element > .element-content, a > .element-content:nth-last-child(1)>img {
    height:50px;
    min-width:50px;
}

.footer-container > .content > .element{
    float:left;
    margin-left: 50px;
    background-color: #00000015;
}

.footer-container > .content > .element:not(:nth-last-child(1)){
    line-height: 50px;
}


/* /footer */